@charset "utf-8";
a {
  text-decoration: none;
  outline: none;
}
button {
  padding: 5px 10px;
  border: 1px solid #000000;
  background-color: transparent;
  border-radius: 1000px;
  cursor: pointer;
}

html, body {
  height: 100%;
}
body {
  background-color: #FFFFFF;
}
/*控制按钮群*/
.control {
  height: 65px;
  overflow: hidden;
}

.o-btns {
  margin-top: 20px;
  text-align: center;
}

.o-btns button {
  width: 74px;
  color: #fff;
  border-color: #000;
}
